.product {
  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
  gap: 10px;
 
  img {
    width: 100%;
  }
  

  .gameinfo {
    background-color: #2b2b2b;
    width: 100%;
    padding: 20px;
    p {
      padding: 0 10px;
    }
  }

  h1 {
    margin-top: 15px;
    text-align: center;
  }

  
}

.addToCart {
  display: flex;
  background-color: #2b2b2b;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 0.9em;
  border-radius: 5px;
 


  .addToCartText {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    gap: 3px;
  }
  .addToCartText p {
    margin-bottom: 0;
    
  }
}

h2 {
  margin-left: 10px;
}

.aboutGame {
  padding: 20px;
  text-align: justify;
  background-color: #2b2b2b;
  h1 {
    text-align: left;
  }
}

//DESKTOP

@media screen and (min-width: 965px) {
  .product {
    display: grid;
    overflow: hidden;
    margin: 20px;
  }

  .aboutGame {
    padding: 10px 20px !important;
    text-align: justify;
    background-color: #2b2b2b;
    justify-self: center;
    width: 50%;
    border-radius: 5px;
    width: 945px;
    h1 {
      text-align: left;
      font-size: 25px;
    }
  }

  .aboutHeader {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .toggleAbout{
    cursor: pointer;
  }

  .reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 940px;
  }
  .gameinfo {
    display: flex;
    border-radius: 5px;
    width: 930px !important;
    gap: 20px;
    justify-self: center;
    padding: 0 !important;
    h1 {
      font-size: 35px;
    }
    img {
      width: 600px;
      border-radius: 5px;
    }

    .gameInfoText {
      width: 320px;
    }
  }
  .addToCart{
  background-color: transparent;
   justify-self: center;
   font-weight: bold;
   font-size: 15px;

    .addToCartText {
      background-color: #2b2b2b;
      padding: 10px;
      
    }
  }
}