.addToCartButton {
 
  button {
    height: 45px;
    border: none;
    background-color: rgb(243, 74, 7);
    color: white;
    font-weight: bold;
  }
  button:hover {
    background-color: rgb(211, 71, 15);
  }
  button:active  {
    background-color: rgb(173, 60, 15);
  }
  
  
}