.cartPanel {
  background-color: #d66c6c;
  color: white;
}

.deleteButton {
  border: none;
  background-color: #2b2b2b;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.deleteButton:hover {
  color: grey;
}

.gameInfo {
  display: flex;
  gap: 100px
}

.gamePrice {
  display: flex;
  flex-direction: column;
  gap: 0px;

}

.thumbnail {
  width: 200px;
  height: 112px;
}