.carouselContainer {
  background-image: url('../../../assets/carouselBackground.png');
  background-size: contain;
}

.gamelist {
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  
}


//DESKTOP

@media screen and (min-width: 965px) {
  .gamelist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-image: url('../../../assets/carouselBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    transition: 1s;
  }
}