.gameCard {
  background-color: #2b2b2b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 20px;

}

.gameCard img {
  border-radius: 10px;
  margin: 15px;
  border: 1px solid transparent;
}

.description {
  margin: 15px;
  background-color: rgb(156, 52, 52);
  padding: 40px;
  border-radius: 24px;
  border: 1px solid #2b2b2b;
  height: 150px;
}

.thumbnail {
  width: 90%;
}

.priceTage {
  display: flex;
  gap: 0px;
}

.goldCoin {
  width: 35px;
  height: 35px;
  margin: 0 !important;
}
//DESKTOP

@media screen and (min-width: 965px) {
  .gameCard {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
  }

  .gameCard:hover {
    transform: rotate(1deg);
  }
}