.gameCard {
  background-color: #2b2b2b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 20px;

}

.gameCard img {
  border-radius: 10px;
  margin: 15px;
  border: 1px solid transparent;
}

.description {
  margin-left: 20px;
  background-color: rgb(156, 52, 52);
  padding: 50px;
  border-radius: 24px;
  border: 1px solid #2b2b2b;
}

.thumbnail {
  width: 450px;
  height: 250px;
}